<%-include('partial/header') %>
    <form action="/" method="post">
        <label>Enter the employee name</label>
        <input type='text' name=empName></input><br>
        <label>employee Id</label>
        <input type='number' name='empId'/><br>
        <label>employee Age</label>
        <input type='number' name='empAge'/><br>
        <input type="submit" name="button">
    
    </form>
    <%-include('partial/footer') %>